# Node / Next
node_modules/
.next/
out/
.env*
.DS_Store

# Ignore SQLite Databases
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal

# Ignore uploaded media
upload/*.mov
upload/*.png
upload/*.mp4
upload/*.avi
upload/*.mkv
